<div id="wrapper" ng-show="condition" class="ng-cloak" ng-init="isAdminLogged()">
    <div class="topbar">
        <div class="topbar-left">
            <div class="text-center">
                <a href="index.html" class="logo"><i class="md md-equalizer"></i> <span>Admin Panel</span> </a>
            </div>
        </div>

        <div class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="">
                    <div class="pull-left">
                        <button class="button-menu-mobile open-left waves-effect">
                            <i class="md md-menu"></i>
                        </button>
                        <span class="clearfix"></span>
                    </div>

                    <ul class="nav navbar-nav navbar-right pull-right">
                        <li class="hidden-xs">
                            <a href="#" class="right-bar-toggle waves-effect waves-light" ng-click="logout()">
                                <i class="fa fa-power-off"></i> Logout
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="left side-menu">
        <div class="sidebar-inner">
            <div id="sidebar-menu">
                <ul>
                    <li class="menu-title">Tailoredfit</li>

                    <li>
                        <a href="#!/gyms" class="waves-effect waves-primary">
                            <i class="ti-email"></i>
                            <span>Gyms</span>
                        </a>
                    </li>

                    <li>
                        <a href="#!/add_gym" class="waves-effect waves-primary">
                            <i class="ti-email"></i>
                            <span>Add Gym</span>
                        </a>
                    </li>

                    <li>
                        <a href="#!/trainers" class="waves-effect waves-primary active">
                            <i class="ti-menu-alt"></i>
                            <span>Trainers</span>
                        </a>
                    </li>

                    <li>
                        <a href="#!/add_trainer" class="waves-effect waves-primary">
                            <i class="ti-gift"></i>
                            <span>Add Trainer</span>
                        </a>
                    </li>

                    <li>
                        <a href="#!/nutritionists" class="waves-effect waves-primary">
                            <i class="ti-menu-alt"></i>
                            <span>Nutritionists</span>
                        </a>
                    </li>

                    <li>
                        <a href="#!/add_nutritionist" class="waves-effect waves-primary">
                            <i class="ti-gift"></i>
                            <span>Add Nutritionist</span>
                        </a>
                    </li>

                    <li>
                        <a href="#!/users" class="waves-effect waves-primary">
                            <i class="ti-menu-alt"></i>
                            <span>Users</span>
                        </a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>

            <div class="clearfix"></div>
        </div>

        <div class="user-detail">
            <div class="dropup">
                <div class="dropdown-toggle profile" data-toggle="dropdown" aria-expanded="true">
                    <img  src="assets/images/users/avatar-2.jpg" alt="user-img" class="img-circle">
                    <span class="user-info-span">
                        <h5 class="m-t-0 m-b-0">Admin User</h5>
                        <p class="text-muted m-b-0">
                            <small><i class="fa fa-circle text-success"></i> <span>Online</span></small>
                        </p>
                    </span>
                </div>
                <ul class="dropdown-menu">
                    <!-- <li><a href="settings.html"><i class="md md-settings"></i>Settings</a></li> -->
                    <li><a href="#" ng-click="logout()"><i class="md md-settings-power"></i>Logout</a></li>
                </ul>

            </div>
        </div>
    </div>

    <div class="content-page">
        <div class="content">
            <div class="container" ng-init="getTrainer()">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="page-title-box">
                            <h4 class="page-title">Edit Trainer "{{trainer.name}}"</h4>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <form class="form-horizontal" method="POST" ng-submit="updateTrainer()">
                        <div class="col-sm-2">
                            <h4>Trainer Name</h4>
                        </div>

                        <div class="col-sm-6">
                            <input type="text" required class="form-control" placeholder="Trainer Name" ng-model="trainer.name">
                        </div>

                        <br/><br/><br/>

                        <div class="col-sm-2">
                            <h4>Select Gender</h4>
                        </div>

                        <div class="col-sm-6">
                            <select class="form-control" ng-model="trainer.gender">
                                <option disabled selected value>-- Select Gender --</option>
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                            </select>
                        </div>

                        <br/><br/><br/>

                        <div class="col-sm-2">
                            <h4>Phone</h4>
                        </div>

                        <div class="col-sm-6">
                            <input type="text" required class="form-control" placeholder="Phone" ng-model="trainer.phone">
                        </div>

                        <br/><br/><br/>

                        <div class="col-sm-2">
                            <h4>Insured</h4>
                        </div>

                        <div class="col-sm-6">
                            <input type="text" required class="form-control" placeholder="Insured" ng-model="trainer.insured">
                        </div>

                        <br/><br/><br/>

                        <div class="col-sm-2">
                            <h4>Services</h4>
                        </div>

                        <div class="col-sm-6">
                            <input type="checkbox" name="favoriteColors" ng-model="trainer.services.Personal"> Personal

                            &nbsp;&nbsp;

                            <input type="checkbox" name="favoriteColors" ng-model="trainer.services.Group"> Group

                            &nbsp;&nbsp;

                            <input type="checkbox" name="favoriteColors" ng-model="trainer.services.Yoga"> Yoga
                        </div>

                        <br/><br/><br/>

                        <div class="col-sm-2">
                            <h4>Availability</h4>
                        </div>

                        <div class="col-sm-6">
                            <select class="form-control" ng-model="trainer.availability">
                                <option disabled selected value>-- Select Availability --</option>
                                <option value="Yes">Yes</option>
                                <option value="No">No</option>
                            </select>
                        </div>

                        <br/><br/><br/>

                        <div class="col-sm-2">
                            <h4>Address</h4>
                        </div>

                        <div class="col-sm-6">
                            <input type="text" required class="form-control" placeholder="Address" ng-model="trainer.address">
                        </div>
                        
                        <br/><br/><br/>

                        <div class="col-sm-2">
                            <h4>Zip Code</h4>
                        </div>

                        <div class="col-sm-6">
                            <input type="text" required class="form-control" placeholder="Zip Code" ng-model="trainer.zip_code">
                        </div>
                        
                        <br/><br/><br/>

                        <div class="col-sm-2">
                            <h4>Certification</h4>
                        </div>

                        <div class="col-sm-6">
                            <input type="text" required class="form-control" placeholder="Certification" ng-model="trainer.certification">
                        </div>

                        <br/><br/><br/>

                        <div class="col-sm-2">
                            <h4>Facility House Calls</h4>
                        </div>

                        <div class="col-sm-6">
                            <input type="text" required class="form-control" placeholder="Facility House Calls" ng-model="trainer.facility_house_calls">
                        </div>

                        <br/><br/><br/>

                        <div class="col-sm-2">
                            <h4>Price</h4>
                        </div>

                        <div class="col-sm-6">
                            <input type="number" required class="form-control" placeholder="Price" ng-model="trainer.price">
                        </div>

                        <br/><br/><br/>

                        <div class="col-sm-2">
                            <h4>Latitude</h4>
                        </div>

                        <div class="col-sm-6">
                            <input type="text" required class="form-control" placeholder="Latitude" ng-model="trainer.latitude">
                        </div>

                        <br/><br/><br/>

                        <div class="col-sm-2">
                            <h4>Longitude</h4>
                        </div>

                        <div class="col-sm-6">
                            <input type="text" required class="form-control" placeholder="Longitude" ng-model="trainer.longitude">
                        </div>

                        <br/><br/><br/>

                        <div class="col-sm-2">
                            <h4>Profile Image</h4>
                        </div>

                        <div class="col-sm-6">
                            <input type="text" required class="form-control" placeholder="Image URL" ng-model="trainer.profile_image">
                        </div>

                        <div class="col-sm-6 text-right">
                            <hr/>
                            
                            <button class="btn btn-success" type="submit">Update Trainer</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <footer class="footer text-right">
            Copyright 2016 &copy; <a href="/">Tailoredfit</a> | Developed By <a href="http://elegancetechnology.net/" target="_blank">Elegance Technology</a>
        </footer>
    </div>
</div>

<script src="assets/js/jquery.app.js"></script>